#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background: center / cover url('../assets/nav/sidebar-bg.png');
    min-height: 937px;
    height: 100%;
    position: fixed;
    top: $navHeight;
    bottom: 0;
    left: 0;
    z-index: 1001;
    // overflow-y: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
      position: relative;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 74%;
      margin-top: 70px;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    
  .sidebar-bottom{
    $width: 148px;
    width: $width;
    height: 22px;
    margin:20px 0 0 ( $sideBarWidth - $width) / 2;
  }

  .bottom-small{
    $width: 101px;
    width: $width;
    height: 22px;
    margin: 20px 0 0 ( $sideBarHideWidth - $width) / 2;
  }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 88% !important;
      background: none !important;
      margin: 0 auto;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      height: 80px!important;
      line-height: 80px!important;
      display: flex;
      align-items: center;

      &:hover {
        background-color: $menuHover !important;
      }
    }

    .is-active {
      background: none !important;

      >.el-submenu__title {
        color: #ffffff!important;
        font-weight: 600;
      }

      & + .submenu-title-noDropdown{
        color: #ffffff!important;
      }

      .sidebar-text{
        // color: #ffffff!important;
      }
    }

    .el-submenu__icon-arrow{
      font-size: 20px;
      margin-top: -10px;
      color: rgba(255,255,255,0.8);
    }
    
    .sidebar-text{
      font-size: 22px;
      font-weight: 500;
    }

    .sidebar-circle{
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $menuText;
      margin:0 10px 0 20px;
    }

    .is-active>.sidebar-circle {
      background: $menuActiveText ;
    }

    // 二级菜单
    .nest-menu .svg-icon{
      width: 20px;
      height: 20px;
    }

    .nest-menu .sidebar-text{
      font-size: 18px;
      font-weight: 400;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .nest-menu .el-menu-item {
      min-width: $sideBarWidth !important;      
      background: none !important;
      height: 60px!important;
      line-height: 60px!important;
      padding: 0 30px!important;
      display: flex;
      align-items: center;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: $sideBarHideWidth !important;
      background: center / cover url('../assets/nav/hidebar-bg.png');

      .hamburger-container{        
        // right: 26px;
        // background: center / cover url("../assets/nav/open.png") no-repeat !important;
      }
    }

    .main-container {
      margin-left: $sideBarHideWidth;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 32px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 32px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    background: $navBg;
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .svg-icon{
    width: 20px;
    height: 20px;
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {    
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgba(255,255,255,0.8)!important;
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
