$themeColor:#00ffff;
$navTitle:#ffffff;
$navText:#00CCFF;
$navBg:rgba(7, 33, 65, 1);
$menuText:rgba(255,255,255,0.8);
$menuActiveText:#00CCFF;
$subMenuHover:rgba(7, 17, 37, 0.5);
$menuHover:rgba(7, 17, 37, 0.3);

$titleWhite:#ffffff;
$textWhite:rgba(255,255,255,0.9);


// sidebar
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;

$subMenuBg:#1f2d3d;

$navHeight:98px;
$sideBarWidth: 228px;
$sideBarHideWidth:111px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  sideBarHideWidth:$sideBarHideWidth;
  navText:$navText;
}
